In [8]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
%matplotlib inline 
sns.set(color_codes=True)

In [9]:
df = pd.read_csv("bipolar dataset.csv")
df

      No  P1  P2  P3  P4  P5  P6  P7  P8  P9  P10  P11  P12  P13  Jumlah  ktgr
0      1   0   0   0   0   1   0   0   0   0    0    0    0    1       2     2
1      2   1   0   0   1   0   1   0   0   0    1    0    0    1       5     2
2      3   0   0   0   0   0   0   0   0   0    0    0    0    1       1     2
3      4   0   0   0   0   1   1   0   1   1    1    1    0    0       6     2
4      5   1   1   1   1   1   1   1   0   1    0    0    0    1       9     1
..   ...  ..  ..  ..  ..  ..  ..  ..  ..  ..  ...  ...  ...  ...     ...   ...
146  136   0   1   0   1   0   0   0   0   0    0    0    0    0       2     2
147  137   1   1   1   1   1   1   1   1   1    0    1    1    1      12     1
148  138   1   1   1   1   1   1   1   1   1    1    1    1    1      13     1
149  139   1   1   1   1   1   1   1   1   1    1    0    0    0      10     1
150  140   1   0   1   1   1   1   1   1   1    0    0    0    0       8     1

[151 rows x 16 columns]

In [10]:
df['ktgr'] = df['ktgr'].replace({1: 'berisiko', 2: 'tidak berisiko'})

In [11]:
df = df.drop(['Jumlah'], axis=1)
df = df.drop(['No'], axis=1)

In [12]:
X = df.drop('ktgr', axis=1)
y = df['ktgr']

In [13]:
from sklearn import svm
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
# Membagi data menjadi data latih dan data uji
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)

In [14]:
#Import svm model
from sklearn import svm

#Create a svm Classifier
clf = svm.SVC(kernel='linear') # Linear Kernel

#Train the model using the training sets
clf.fit(X_train, y_train)

#Predict the response for test dataset
y_pred = clf.predict(X_test)

In [15]:
#Import scikit-learn metrics module for accuracy calculation
from sklearn import metrics

# Model Accuracy: how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 1.0

In [16]:

from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score, classification_report
print("Laporan Klasifikasi:")
print(classification_report(y_test, y_pred))

Laporan Klasifikasi:
                precision    recall  f1-score   support

      berisiko       1.00      1.00      1.00        31
tidak berisiko       1.00      1.00      1.00        15

      accuracy                           1.00        46
     macro avg       1.00      1.00      1.00        46
  weighted avg       1.00      1.00      1.00        46

In [17]:
clf.score (X_train, y_train)

1.0

In [18]:
clf.score (X_test, y_test)

1.0

In [19]:
new_data = pd.read_csv("tes.csv")
new_data

   P1  P2  P3  P4  P5  P6  P7  P8  P9  P10  P11  P12  P13
0   1   1   1   0   1   0   1   1   1    1    0    1    0
1   1   1   1   0   1   0   1   1   1    1    0    1    0
2   1   0   1   1   1   0   1   1   1    1    1    1    1
3   0   0   0   0   0   0   0   0   1    0    0    0    0
4   1   1   1   1   1   1   1   1   1    1    0    1    0
5   1   1   1   1   1   0   0   1   0    1    0    0    0

In [20]:
clf.predict(new_data)

array(['berisiko', 'berisiko', 'berisiko', 'tidak berisiko', 'berisiko',
       'berisiko'], dtype=object)

In [21]:
new_predictions = clf.predict(new_data)

# Menampilkan hasil prediksi
print("Hasil Prediksi:")
print(new_predictions)

Hasil Prediksi:
['berisiko' 'berisiko' 'berisiko' 'tidak berisiko' 'berisiko' 'berisiko']

In [22]:
new_data['ktgr'] =  clf.predict(new_data)
new_data

   P1  P2  P3  P4  P5  P6  P7  P8  P9  P10  P11  P12  P13            ktgr
0   1   1   1   0   1   0   1   1   1    1    0    1    0        berisiko
1   1   1   1   0   1   0   1   1   1    1    0    1    0        berisiko
2   1   0   1   1   1   0   1   1   1    1    1    1    1        berisiko
3   0   0   0   0   0   0   0   0   1    0    0    0    0  tidak berisiko
4   1   1   1   1   1   1   1   1   1    1    0    1    0        berisiko
5   1   1   1   1   1   0   0   1   0    1    0    0    0        berisiko

In [24]:
import pickle
pickle.dump(clf, open("model.pkl","wb"))